<ul>
  {{#each project}}
    <div class="id">
      <div class="page-title">{{this.title}}</div>
      <hr>
      <img class="id__img" src="{{this.image}}">
      <hr class="id__horizontal">
      <div class="id__row">
        <div class="id__primary">
          <div class="id__web-address"><a href="{{this.link}}" target="_blank">Web Address</a></div>
          <br>
          <div class="id__link"><a href="{{this.github}}" target="_blank">Github Repository</a></div>
          {{#if ../user.admin}}
            <div class="user">
              <a class="user__link" href="/portfolio/{{id}}/edit">Edit</a>

              <form form="form" method="POST" enctype="x-www-form-urlencoded">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" id="submit">
              </form>
            </div>
          {{/if}}
          </div>
          <div class="id__secondary">
            <div class="id__description">{{this.description}}</div>
            <div class="back"><a href="/portfolio">Back</a></div>
          </div>
        </div>
      </div>
  {{/each}}
</ul>

